div{
    
    width: 200px;
    height: 100px;
    background-color: coral;
    position: relative;
    animation-name: anime;
    animation-duration: 5s;
    animation-delay: 3s;
    border:5px solid black;
    animation-iteration-count: 50;
}

@keyframes anime {
    0%{background-color: red; left:0px; top:0px}
    25%{background-color:yellow; left:300px; top:0px}
    50%{background-color: darkblue; left:300px; top:300px}
    75%{background-color: indianred; left:0px; top:300px}
    100%{background-color: aqua; left:0px; top:0px}
    
}